akka {  
    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        serializers {
              hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
            }
        serialization-bindings {
          "System.Object" = hyperion
        }
    }
    remote {
        dot-netty.tcp {
		    port = 0
		    hostname = localhost
        }
    }
}